@charset "utf-8";
@import url('notosanskr/NotoSansKR.css');
@import url('maple/Maplestory.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style:none;
}

a {
    color:#333;
    text-decoration: none;
}

html {
    font-size:10px;
    /* overflow:hidden; */
}

body {
    font-size:1.6rem;
    font-family:'Noto Sans KR',sans-serif;
    color:#333;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: -0.06rem;
}


/* 공통 클래스 */
.clearfix:after {
    content:'';
    position:relative;
    display:block;
    width:100%;
    clear:both;
}

.container {
    position:relative;
    display:block;

    width:130rem;
    margin: 0 auto;
}

.wrap {
    position:relative;
    display:block;
}

.gotop {
    position:fixed;
    right:5rem;
    top:50%;
    transform:translateY(-50%);
    
    cursor:pointer;
    z-index:999;
    padding:1rem;
    border-radius:100%;
    transition:all 0.5s;
}

.gotop:hover {
    background:#000;
    color:#fff;
}

.gotop i {
    font-size:3.5rem;
}

.gotop p {
    font-size:1.5rem;
    text-align:center;
}

/* 상단 */
.header {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:10rem;
    z-index:999;
    border-top:5px solid #bc937c;
}

.header .container {
    
}

.logo {
    position:absolute;
    left:1.5rem;
    top:1.5rem;
    width:7.1rem;
    height:7rem;
    background: url('../images/logo.png')no-repeat;
    background-size: 100%;
    font-size:0;
}

.gnb {
    position:absolute;
    left:30rem;
    top:5rem;
}

.header-active {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}


.header-active .gnb a {
    color: #fff !important;
}

.depth1 {}

.depth1 li {
    float:left;
    margin-right:5rem;
}

.depth1 li a {
    position:relative;
    font-size:2.3rem;
    color:#fff;
}

.depth1 li a:hover::after {
    content:'';
    position:relative;
    display:block;
    width:100%;
    height:1rem;
    background-color:#fcd5ac;

    margin-top:-1rem;
    z-index:-1;
}

section {
    width:100%;
    height:100%;
}

/* 비주얼 */
.visual {
    position:relative;
    width:100%;
    height:93rem;
    background:#be947e;
    background-size:cover;
}

.visual .visual_img {
    background:url('../images/visual-txt.png') no-repeat center;
    width:100%;
    height:12rem;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%);
}

.visual p.visual_txt {
    position:absolute;
    left:50%;
    top:30rem;
    transform:translateX(-50%);
    font-size:70px;
    font-family:'Maplestory';
    color:#fff;
}

.visual p.visual_backtxt {
    position:absolute;
    left:50%;
    top:20rem;
    transform:translateX(-50%);
    font-size:400px;
    font-family:'Maplestory';
    color:#fff;
    opacity:10%;

}

.visual button {
    position:absolute;
    right:18rem;
    top:51.5rem;
    display:block;
    background-color:#45433c;
    color:#fff;
    border:1px solid #fff;
    padding: 0.6rem;
    cursor:pointer;

    transition: all 1s;
}

.visual button::before {
    content:'';
    position:absolute;
    left:0;
    top:0;
    display:block;
    width:0%;
    height:100%;
    background-color:#fff;
    
    transition: all 1s;
}

.visual button:hover {
    color:#45433c;
    z-index:0;
}

.visual button:hover::before {
    width:100%;
    z-index:-1;
}

/* 프로필 */
.profile {
    position:relative;
    
}

.profile .container {
    padding: 6rem 0;
    background-color:#fff;
}

.pro-tit {
    font-size:3rem;
    font-weight:700;
    color:#b47957;
    text-align:left;
}

.career_b {
    font-style:normal;
    font-weight:bold;
}

.pro-tit .career {
    border-top:1px solid #000;
}

.career_list {
    color:#b47957;
}

.career_list>a{
    color:#b47957;
    border-bottom:1px solid #b47957;
    font-weight:700;
}

.career_list>a:hover {
    color:#000;
}

/* 프로필 왼쪽영역 */
.pro-left {
    position:relative;
    width:50%;
    
    float:left;
}

.pro-left-1 {
    position:relative;
    margin-left:50%;
    transform:translateX(-50%);
    display:inline-block;
}

.pro-left-1 h2 {
    font-size:3.3rem;
    color:#2b2942;
    margin-left:23rem;
}

.pro-left-1 p {
    font-size:1.7rem;
    font-weight:700;
    color:#b9b9b9;
    margin-left:23rem;
    margin-top:1rem;
}

.pro-pick {
    background:url('../images/pro.jpg')no-repeat;
    background-size: 80%;
    position:absolute;
    left:0;
    width:70%;
    height:25rem;
}

.pro-left-2 {
    position:relative;
    margin-top:15rem;
    opacity:0;
    transition: all ease 0.2s;
}


.pro-left-2 h2 {
    font-size:3rem;
    font-weight:700;
    color:#b47957;
    text-align:center;
    margin-bottom:2rem;
}

.pro-left-2 img {
    display:block;
    margin:0 auto;
}

.pro-txt-box {
    position:relative;
    margin-left:50%;
    transform:translateX(-50%);
}

.pro-left-2-txt1 {
    font-size:2rem;
    line-height:1.5;

    margin:2rem 0;
}

.pro-left-2-txt2 {
    font-size:2rem;
}

.pro-left-2-txt2 span {
    font-size:1.3rem;
    color:#ccc;
}

.pro-left-2-txt1 b {
    background: url('../images/yellow.png')no-repeat center;
}

.pro-left-3 {
    position:relative;
    margin-top:7rem;
    margin-left:5rem;
    
}

/* 프로필 오른쪽영역 */
.pro-right {
    position:relative;
    width:50%;
    
    float:right;
    text-align:center;
    padding-left:18rem;
}

.pro-right-1 {
    position:relative;
}

.pro-right-1 ul {
    position:relative;
    display:block;
}
.pro-right-1 ul li {
    clear:both;
}

.pro-right-1 h2 {
    margin-bottom:2rem;
}

.pro-right-1 p {
    font-size:1.9rem;
    text-align:left;
    line-height:1.8;
}

.pro-right-1-txt1 {
    font-size:1.9rem;
    display:block;
    float:left;
    line-height:1.8;

}
.pro-right-1-txt2 {
    font-size:1.9rem;
    display:block;
    float:left;
    text-align:left;
    line-height:1.8;

    margin-left:0.5rem;
}

.pro-right-2 {
    position:relative;
    margin-top:7rem;
}

.skill-list {
    position:relative;
    margin-top:2rem;
}

.skill-list li {
    overflow:hidden;
    margin-bottom:1.5rem;
}

.skill-tit {
    float:left;
    width:7rem;
    margin-right:1rem;
    text-align:left;

    font-weight:500;
}

.skill-level {
    width:80%;
    float:left;
}

.skill-bottom {
    overflow:hidden;
    float:left;
    margin:2rem 2rem 0 0;
}

.skill-circle {
    position:relative;
    display:inline-block;
    float:left;
}

.circle-tit {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:1rem;
    text-transform: uppercase;

}

#skill_photoshop {
    width:26rem;
    height:1rem;
}

#skill_illustrator {
    width:26rem;
    height:1rem;
}

#skill_adobe_xd {
    width:26rem;
    height:1rem;
}

#skill_html {
    position:relative;
    width:10rem;
    height:10rem;
}

#skill_css {
    position:relative;
    width:10rem;
    height:10rem;
}

#skill_jquery {
    position:relative;
    width:10rem;
    height:10rem;
}

.pro-right-3 {
    position:relative;
    float:left;

    margin-top:11rem;
}

/* 리디자인 */
.redesign {
    position:relative;
    display:block;
    width:100%;
    height:90rem;
    margin-bottom:15rem;
    background: url('../images/rede-back.jpg')no-repeat center;
    padding-top:10rem;
}


.redesign h2 {
    position:absolute;
    left:7.5rem;
    top:0;
    
    opacity: 0;
    margin-left:-15%;
    transition:all 0.7s;
    
    font-size:4rem;
    font-weight:600;
    color:#b47957;
}

.redesign h2::after {
    content:'';
    width:27.5rem;
    height:0.1rem;
    display:block;
    background:#ccc;
    margin-left:-7.5rem;
}

.rede-slide {
    position:absolute;
    left:61rem;
    top:17rem;
    display:block;
    width:40rem;
    height:40rem;
    border:3px solid #b47957;
}

.swiper-container {
    width:100%;
    height:100%;
}

.swiper-button-next,
.swiper-button-prev {
    color:#999;
}


.rede-box {
    position:relative;
    display:inline-block;
    width:40rem;
    height:40rem;
    overflow:hidden;
}

.rede-box img {
    position:relative;
    height:40rem;
}

.rede-btn {
    position:absolute;
    bottom:2rem;
    left:0;
    display:inline-block;
    width:100%;
}

.rede-center-btn {
    text-align:center;
    font-weight:700;
    font-size:2.0rem;

    padding:0.3rem 0;
    width:50%;
    display:block;
    float:left;
    transition: all ease 0.3s;
}

.btn1 > .rede-center-btn {
    color:#fff;
}

.btn1 > .rede-center-btn:hover {
    font-size:2.5rem;
}

.btn2 > .rede-center-btn {
    color:#000;
}

.btn2 > .rede-center-btn:hover {
    font-size:2.5rem;
}

.rede-center-btn:hover {
    
}

.rede-text {
    position:absolute;
    left:12rem;
    top:18rem;
}

.txt2, .txt3 {
    opacity:0;
}

.rede-text h3 {
    font-size:3rem;
    color:#b47957;

    margin-bottom:4.5rem;
}

.rede-text p {
    font-size:1.6rem;
    line-height:1.8;

    margin-bottom:5rem;
}

/* 퍼블리싱 */
.publishing {
    position:relative;
    width:100%;
    height:100rem;
    background: url('../images/tv.png')no-repeat center;
}

.publishing h2 {
    position:absolute;
    left:7.5rem;
    top:4rem;
    
    font-size:4rem;
    font-weight:600;
    color:#b47957;
    opacity: 0;
    margin-left:-15%;
    transition:all 0.7s ;
}

.publishing h2::after {
    content:'';
    width:32rem;
    height:0.1rem;
    display:block;
    background:#ccc;
    margin-left:-7.5rem;
}

.publ-main {
    position:absolute;
    left:4.2rem;
    top:18.9rem;
    width:121.5rem;
    height:59rem;
}

.publ-box {
    position:relative;
    float:Left;
    width:20%;
    height:100%;
    overflow:hidden;
    cursor:pointer;
    transition: all ease 0.5s;
}


.publ-1 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/publ-1.jpg')no-repeat;
    background-size: 46rem;
}

.publ-2 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/publ-2.jpg')no-repeat;
    background-size: 46rem;
}

.publ-3 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/publ-3.jpg')no-repeat;
    background-size: 46rem;
}

.publ-4 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/publ-4.jpg')no-repeat;
    background-size: 46rem;
}

.publ-5 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/publ-5.jpg')no-repeat;
    background-size: 46rem;
}

/* 퍼블리싱 애니메이션 */
.publ-wide {
    position:relative;
    width:24%;
}

.publ-close {
    width:19%;
}



.publ-box h3 {
    font-size:3.3rem;
    color:#fff;
    margin-top:12rem;
    text-align:center;
}

.publ-box p {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:6rem;
    font-size:1.7rem;
    color:#fff;
    white-space: nowrap;
}

.publ-btn {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
}

.publ-btn > a {
    display:block;
    width:33.33%;
    background:rgba(0, 0, 0, 0.4);
    color:#fff;
    margin-left:0;
    float:left;
    text-align:center;
    padding:1rem 0;
}

.publ-btn > a:hover {
    background: #fff;
    transition: all ease 0.8s;
    color:#000;
}

/* 라이프스토리 */
.life {
    position:relative;
    margin-top:12rem;
}

.life h2 {
    position:absolute;
    left:7.5rem;
    top:-10rem;
    
    font-size:4rem;
    font-weight:600;
    color:#b47957;

    opacity: 0;
    margin-left:-15%;
    transition:all 0.7s;

}

.life h2::after {
    content:'';
    width:30rem;
    height:0.1rem;
    display:block;
    background:#ccc;
    margin-left:-7.5rem;
}

.life-box {
    position:relative;
    width:100%;
    height:45rem;
}

/* life-1 */
.life1 {
    transform:rotate(5deg);
    transition: all 2s;
    opacity:0;
}


.life-1-1 {
    position:relative;
    display:inline-block;
    width:33rem;
    height:33rem;
    border:2px solid #ffd1a6;
    margin:5rem 5rem 0 43rem;
    background:url('../images/life-1-1.jpg')no-repeat center;
    background-size:cover;
    z-index:9;
}

.life-1-2 {
    position:absolute;
    left:32.5rem;
    top:0;
    display:inline-block;
    width:17rem;
    height:17rem;
    border:1px solid #ffd1a6;
    background:url('../images/life-1-2.jpg')no-repeat center;
    background-size:cover;
}

.life-1-3 {
    position:absolute;
    left:32.5rem;
    top:27rem;
    display:inline-block;
    width:17rem;
    height:17rem;
    border:1px solid #ffd1a6;
    background:url('../images/life-1-3.jpg')no-repeat center;
    background-size:cover;
}

.life-1-txt {
    position:absolute;
    right:5rem;
    top:6rem;
}

.life-1-txt h3 {
    font-size:2.5rem;
    font-weight:600;
    
    margin-bottom:5.5rem;
}

.life-1-txt h3::after {
    content:'';
    position:absolute;
    left:-10rem;
    top:1rem;
    display:block;
    width:28.6rem;
    height:1.7rem;
    background-color:#fcd5ac;
    
    z-index:-99;
}

.life-1-txt p {
    font-size:1.6rem;
    line-height:1.8;
}

/* life-2 */
.life2 {
    transform:rotate(5deg);
    transition: all 2s;
    opacity:0;
}

.life-2-1 {
    position:absolute;
    right:22rem;
    top:0;
    display:inline-block;
    width:33rem;
    height:33rem;
    border:2px solid #ffd1a6;
    margin-left:5rem;
    background:url('../images/life-2-1.jpg')no-repeat center;
    background-size:cover;
    z-index:9;
}

.life-2-2 {
    position:absolute;
    right:11.5rem;
    top:-5rem;
    display:inline-block;
    width:17rem;
    height:17rem;
    border:1px solid #ffd1a6;
    background:url('../images/life-2-2.jpg')no-repeat center;
    background-size:cover;
}

.life-2-3 {
    position:absolute;
    right:11.5rem;
    top:22rem;
    display:inline-block;
    width:17rem;
    height:17rem;
    border:1px solid #ffd1a6;
    background:url('../images/life-2-3.jpg')no-repeat center;
    background-size:cover;
}

.life-2-txt {
    position:absolute;
    left:25rem;
    top:6rem;
}

.life-2-txt h3 {
    font-size:2.5rem;
    font-weight:600;
    
    margin-bottom:5.5rem;
}

.life-2-txt h3::after {
    content:'';
    position:absolute;
    left:0;
    top:1rem;
    display:block;
    width:50rem;
    height:1.7rem;
    background-color:#fcd5ac;
    
    z-index:-99;
}

.life-2-txt p {
    font-size:1.6rem;
    line-height:1.8;
}

/* life-3 */
.life3 {
    transform:rotate(5deg);
    transition: all 2s;
    opacity:0;
}
.life-3-1 {
    position:relative;
    display:inline-block;
    width:33rem;
    height:33rem;
    border:2px solid #ffd1a6;
    margin:0 5rem 0 43rem;
    background:url('../images/life-3-1.jpg')no-repeat center;
    background-size:cover;
    z-index:9;
}

.life-3-2 {
    position:absolute;
    left:32.5rem;
    top:-5rem;
    display:inline-block;
    width:17rem;
    height:17rem;
    border:1px solid #ffd1a6;
    background:url('../images/life-3-2.jpg')no-repeat center;
    background-size:cover;
}

.life-3-3 {
    position:absolute;
    left:32.5rem;
    top:21rem;
    display:inline-block;
    width:17rem;
    height:17rem;
    border:1px solid #ffd1a6;
    background:url('../images/life-3-3.jpg')no-repeat center;
    background-size:cover;
}

.life-3-txt {
    position:absolute;
    right:5rem;
    top:6rem;
}

.life-3-txt h3 {
    font-size:2.5rem;
    font-weight:600;
    
    margin-bottom:5.5rem;
}

.life-3-txt h3::after {
    content:'';
    position:absolute;
    left:-10rem;
    top:1rem;
    display:block;
    width:32rem;
    height:1.7rem;
    background-color:#fcd5ac;
    
    z-index:-99;
}

.life-3-txt p {
    font-size:1.6rem;
    line-height:1.8;
}

/* 컨택트 */
.contact {
    position:relative;
    background:#c19b73;
}

.contact .container {
    height:25rem;
    padding-top:4rem;
    
}

.contact h2 {
    position:absolute;
    left:7.5rem;
    top:0.5rem;
    
    font-size:3rem;
    font-weight:600;
    color:#fff;

    opacity: 0;
    margin-left:-15%;
    transition:all 0.7s;
}

.contact h2::after {
    content:'';
    width:21rem;
    height:0.1rem;
    display:block;
    background:#ccc;
    margin-left:-7.5rem;
}

.contact-txt {
    position:relative;
    margin:0 auto;
    width:50rem;
}

.contact-txt p {
    color:#fff;
    font-weight:200;

    line-height:1.4;
    letter-spacing: -0.045rem;
}

.contact-txt button {
    position:relative;
    background-color:#c19b73;
    border:1px solid #fff;
    color:#fff;
    padding:0.3rem 0.5rem;

    cursor:pointer;
    margin-top:2rem;
}

.contact-txt button::before {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:0%;
    height:100%;
    background-color:#fff;
    
    transition: all 1s;
}

.contact-txt button:hover {
    color:#c19b73;
    z-index:0;
}

.contact-txt button:hover::before {
    width:100%;
    z-index:-1;
}


.contact-txt span {
    position:absolute;
    right:0;
    bottom:0;
    
    color:#fff;
    font-weight:200;

    line-height:1.4;
    letter-spacing: -0.045rem;
}
